@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Oxanium:wght@200..800&display=swap');

$color1:#336774;
$color2:#F05E1C;
$color3:#D0104C;

$fontColor1:#FEDFE1;

html,body {
  padding: 0;
  margin: 0;
  font-family: 'Oxanium';
  background-image: url('../img/bg.png');
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.header {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 50px;
  z-index: 2;
  background: linear-gradient(#949494, transparent);
  color:#444444;
  .headerBox {
    width: 45vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerBoxItem {
    text-align: center;
    font-size: 1.1rem;
  }
  .headerBoxLogo {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.cardBox {
  height: 100vh;
  .cardBoxInner {
    width: 60vw;
    height: 90vh;
    background-color: rgba(54, 54, 54, 0.2);
    box-shadow: 160px 40px 0px $color3;
  }
  .cardBoxInnerTitle {
    font-size: 7rem;
    font-weight: bold;
    color:$color3;
    padding: 0 2rem;
  }
  .cardBoxInnerBorder {
    height: 2px;
    margin: 0 2rem 2rem 2rem;
    background-color: #fff;
  }
  .cardBoxInnerContent {
    font-size: 1.2rem;
    padding: 0 2rem;
  }
}

.rightCard {
  display: flex;
  justify-content: flex-end;
  .cardBoxInner {
    box-shadow: -160px 40px 0px $color3;
  }
  .cardBoxInnerTitle {
    text-align: right;
  }
}